**/.DS_Store
# Data/CA_COVID_data.sqlite

# add any file that should be auto generated to this file as a single
Data/CA_case_surv.csv
Data/CA_case_surv.json
Data/VaccineComplete.json
Data/VaccineComplete.csv
