{% extends 'layout.html' %} {% block title %}Home - My Flask App{% endblock %} {% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-12 jumbotron text-center">
      <h1>COVID in California</h1>
      <!-- <p>Use the interactive charts below to explore the dataset</p> -->
    </div>
  </div>

  <div class="row">
    <!-- side bar left -->
    <div class="col-md-2">
      <fieldset>
        <legend>
          <h5>Select Case Type:</h5>
        </legend>

        <div>
          <input type="radio" id="selDeath" name="type" value="death_yn" checked />
          <label for="selDeath">Deaths</label>
        </div>

        <div>
          <input type="radio" id="selHosp" name="type" value="hosp_yn" />
          <label for="selHosp">Hospitalizations</label>
        </div>
      </fieldset>

      <!-- <div class="well">
        <h5>Select Years:</h5>
        <select id="selYears"></select>
      </div> -->

      <div class="well">
        <h5>Select County:</h5>
        <select id="selCounty"></select>
      </div>

      <!-- <div class="well">
    <h5>Select Case Type:</h5>
    <select id="selType"></select>
  </div> -->

      <div class="well">
        <h5>Select Outcome:</h5>
        <select id="selOutcome"></select>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5 class="panel-title">Current Graph</h5>
        </div>
        <div id="currSettings" class="panel-body"></div>
      </div>
    </div>
    <!-- sidebar left end -->

    <main id="main1" class="col-10 bg-body-secondary d-flex flex-column gap-5 main-area">
      <center class="p-3">
        <div id="bar" style="min-height: 500px"></div>
      </center>
      <div id="scatter" style="min-height: 500px"></div>
    </main>

    <!-- <div class="col-md-10">
    <div class="row">
      <div class="col-12">
      </div>
     
      <div class="col-12">
      </div>
    </div>
  </div> -->
  </div>
</div>

<script src="static/js/scatter_by_nicolee.js"></script>
<!-- Rest of your content here -->
{% endblock %}
